.acceuil-container {
    position: relative;
    border: 1px solid black;
    padding: 16px 8px;
    display: block;
    height: 90vh;
}
.background-img {
    display: inline;
    position: absolute;
    right: 0px;
    bottom: 0px;

}