.r-container {
    display: flex;
    margin-left: 5%;

}

.div-infun {
    display: flexbox;
    width: 30%;
}

.div-infun h6{
    margin-top: 15px;
    margin-left: 10%;
    text-align: center;
    width: 80%;
}

.background-img-r {
    width: 75px;
}